doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel="stylesheet"
        href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous")

    link(rel='stylesheet', href='lib/codemirror.css')
    link(rel='stylesheet', href='addon/hint/show-hint.css')
    link(rel='stylesheet', href='addon/dialog/dialog.css')
    link(rel='stylesheet', href='addon/display/fullscreen.css')
    link(rel='stylesheet', href='theme/solarized.css')
    link(rel='stylesheet', href='theme/monokai.css')
    link(rel='stylesheet', href='theme/dracula.css')
    link(rel='stylesheet', href='theme/zenburn.css')
    link(rel='stylesheet', href='theme/blackboard.css')
    link(rel='stylesheet', href='theme/tomorrow-night-bright.css')
    link(rel='stylesheet', href='theme/tomorrow-night-eighties.css')
    script(
        src="//code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous")

    script(src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous")

    script(
        src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous")
    script(
        src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous")
    script(src='lib/codemirror.js')
    script(src='keymap/vim.js')
    script(src='keymap/sublime.js')
    script(src='keymap/emacs.js')
    script(src='addon/dialog/dialog.js')
    script(src='addon/search/searchcursor.js')
    script(src='addon/edit/matchbrackets.js')
    script(src='addon/runmode/colorize.js')
    script(src='addon/hint/show-hint.js')
    script(src='addon/display/fullscreen.js')
    script(src='mode/python/python.js')
    script(src='mode/clike/clike.js')
    style.
      html, body {
        overflow: 'hidden';
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      .CodeMirror {
        height: auto;
      }

      .CodeMirror-scroll {
        overflow-y: scroll;
        overflow-x: hidden;
      }

      #codemirror-container {
        width: 100%;
        height: 70%;
      }

      ul li {
        cursor: pointer;
      }

      .preloader {
        border: 3px solid #ffffff;
        height: 16px;
        width: 16px;
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        animation: spin 2s linear infinite;
      }

      table {
        width: 100%;
      }

      td {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      body {
        padding-top: 56px;
      }

      #tables {
        margin-top: 16px;
      }

      #settings {
        background-color: #f8f9fa;
        position: fixed;
        right: 12px;
        bottom: 68px;
        height: 120px;
        padding: 16px;
        z-index: 999999;
        border-radius: 8px;
      }

      .col .btn-group {
        margin: auto;
      }

      #io {
        background-color: #f8f9fa;
        position: fixed;
        bottom: 56px;
        height: 200px;
        padding: 16px;
        z-index: 505050;
      }

      #io > .row {
        height: 25%;
      }

      #io form {
        height: 100%;
      }

      .collaspse {
        transition: none !important;
      }

      .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
      }

      textarea {
        height: 100% !important;
        box-sizing: border-box;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      #submitHandle .disabled {
        disabled: disabled;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      .container-fluid
          a.navbar-brand(href="/") Fan's Apps
          button.navbar-toggler(type="button" data-toggle="collapse"
           data-target="#mynav"
           aria-controls="mynav" aria-expanded="false"
           aria-label="Toggle navigation"
           style="text-algin: center;"
           )
             span.navbar-toggler-icon
          .collapse.navbar-collapse#mynav()
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/') Home
              li.nav-item
                a.nav-link(href='/codeforces') Codeforces Picker
              li.nav-item
                a.nav-link(href='/uva') UVA Picker
              li.nav-item
                a.nav-link(href='/ide') IDE
    block content
